body {
    background-color: palevioletred;
    font: 100%/1.5 Verdana;
}

.titulo-principal {
    width: 50%;
    margin: auto;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: white;

}

.formulario {
    padding: 5px;
    width: 50%;
    margin: auto;
}

.grupo {
    display: block;
    width: 50%;
    margin: auto;
    padding: 5px;

}

.campo {
    display: block;
    height: 2em;
}

.etiqueta {
    font-size: 1.2em;
    font-weight: bold;
}

.acordeoes {
    width: 400px;
}

.acordeao {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
}

.nome-acordeao {
    cursor: pointer;
    background-color: #eee;
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.conteudo-acordeao {
    height: 0;
    overflow: hidden;
}

.titulo-msg {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
}

.msg {
    padding: 20px;
}